:root {
  --max-width: 42rem;
  --border-radius: 12px;
  --foreground: #152644;
  --background: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var(--max-width);
  margin: auto;
  overflow-x: hidden;
  letter-spacing: 0.4px;
  line-height: 1.5rem;
}

body {
  color: var(--foreground);
  background: rgb(var(--background));
}

a {
  color: inherit;
  text-decoration: none;
}
