:root {
  --max-width: 42rem;
  --border-radius: 12px;
  --text-color: #607d8b;
  --link-color: #bdb4fe;
  --foreground: #152644;
  --background: #fff;
}

* {
  padding: 0;
  margin: 0;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html,
body {
  max-width: var(--max-width);
  margin: auto;
  overflow-x: hidden;
}

body {
  letter-spacing: .4px;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  color: var(--text-color);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
}

p {
  line-height: 1.5em;
  margin-block-end: 1.5em;
  font-size: 1.1em;
}

p a {
  color: var(--link-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
  align-items: flex-start;
}

.main-header .title {
  background-color: #bdb4fe;
  border-radius: 3px;
  padding: 0px 5px;
}

.main-header .subtitle {
  color: var(--text-color);
}

footer {
  font-size: 0.6rem;
  align-self: center;
  text-transform: uppercase;
}

img {
  width: 100%;
}

hr {
  margin-bottom: 26px;
  border: 0.8px solid #d6e1e7;
}

.quote {
  font-weight: 400;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    color: hsl(200, 18%, 0%);
  }
  100% {
    color: hsl(200, 18%, 46%);
  }
}

.comments-box {
  background-color: #d6e1e7;
  border-radius: 3px;
  padding: 15px;
}

/* Create component for Button and remove this css */
button {
  width: 100%;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #000000;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  font-size: .875rem;
}

button:hover {
  background-color: hsla(240 5.9% 10% / 0.9);
}

input, .form-textarea {
  border: 1px solid #e5e7eb;
  border-radius: 7px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

:disabled {
  cursor:not-allowed;
}

label {
  font-weight: 500;
  color: #000000;
  font-size: 0.9rem;
  margin-bottom: 3px;
}

.avatar {
  border-radius: 50%;
}

.form-widget {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.m0 {
  margin: 0;
}

.content-card {
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  border-radius: 8px;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.content-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 500;
  color: #000000;
}

.time-location-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px
}

@media (max-width: 600px) {
  .mobile-flex-column {
    grid-template-columns: 1fr;
  }
}